.background-top {
    position: absolute;
    z-index: 2;
    height: 250px;
    width: 100%;
    background-color: #172377;
    border-bottom-left-radius: 100px;
}

.background-patch {
    position: absolute;
    z-index: 2;
    margin-left: 50%;
    height: 300px;
    margin-top: 249px;
    width: 50%;
    background-color: #172377;
}

.background-bottom {
    position: absolute;
    z-index: 2;
    height: 400px;
    margin-top: 250px;
    width: 100%;
    background-color: white;
    border-top-right-radius: 200px;
}

.course {
    margin-top: 20px;
    width: 100%;
    height: auto;
    /* background-color: #FFFFFF; */
    text-align: left;
    position: absolute;
    z-index: 3;
}

.course-wrapper {
    width: 100%;
}
.course-wrapper .top {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 20px;
    color: white;
}

.course-wrapper .top-title {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    margin-bottom: 15px;
}

.course-wrapper .top-title .left {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.course-wrapper .top-title .right {
    text-align: right;
    color: orange;
    font-size: 1rem;
    padding-right: 20px;
}

.course-wrapper .popular-scroll {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 300px;
}

.course-wrapper .popular-scroll::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}