.course {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    text-align: left;
}

.course-wrapper {
    width: 100%;
}
.course-wrapper .top {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 20px;
}

.course-wrapper .top-title {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    margin-bottom: 15px;
}

.course-wrapper .top-title .left {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.course-wrapper .top-title .right {
    text-align: right;
    color: red;
    font-size: 1rem;
    padding-right: 20px;
}

.course-wrapper .popular-scroll {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.course-wrapper .popular-scroll::-webkit-scrollbar {
    display: none;
}