.card-chapter {
    height: 80px;
    width: 100%;
    border-radius: 8px;
    background-color: #FFF5E6;
    margin-bottom: 15px;
}

.card-chapter .body {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-gap: 10px;
}

.card-chapter .body .image {
    height: 60px;
    width: 70px;
    border-radius: 15px;
    /* background-color: blue; */
}

.card-chapter .body .title {
    padding-top: 5px;
    text-align: left;
}

.card-chapter .body .title .main {
    font-size: 0.9rem;
    font-weight: bold;
}

.card-chapter .body .title .sub {
    margin-top: 12px;
    font-size: 0.7rem;
    color: grey;
}

.card-chapter .body .btn {
    padding-top: 15px;
}